body {
  font-family: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
  "Yu Gothic UI", "MS PGothic", sans-serif !Important;
}

h1{
  font-size: 2em;
  font-weight: bold;
}

body{
  color: white;
  background-color: black;
}

th{
  width: 1000px;
  height: 50px;
  background-color: rgba(176, 164, 164, 0.732);
}

tr{
  width: 1000px;
  height: 50px;
  background-color: rgba(176, 164, 164, 0.732);
  text-align: center;
}

.btn{
  padding: 16px 32px ;
  background: hsl(200,100%,40%);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: background .3s;
}

.btn:hover{
  background-color: hsl(200,100%,45%);
}
